*{
	font-family: 'Open Sans', sans-serif;
}
body{
	margin:0;
	padding:0;
}
.tarjeta{
	width: 56%;
    height: 400px;
    background-image: url(../img/background1.jpg);
    position: absolute;
    left: 20%;
    margin-top: 44px;
    background-size: cover;
}
#triangulo1{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 401px 279px 0 0;
	border-color: dimgray transparent dimgray transparent;
    position: relative;
}
#triangulo2{
	width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 189px 399.7px 279px;
    border-color: transparent transparent dimgray transparent;
    position: absolute;
    top: 0px;
    left: 0%;
}
#membrete{
	width: 283px;
    height: 91px;
    background-image: url(../img/Laboratoria_Logo.png);
    position: absolute;
    left: 1%;
    top: -16px;
    background-size: cover;
}
#contacto {
	color: whitesmoke;
    font-size: 14px;
    width: 247px;
    height: 127px;
    top: 236px;
    position: absolute;
    left: 59px;
}
#ele{
	bottom: 56px;
    position: relative;
    left: 702px;
}
#logo{
	left: 1%;
    bottom: 61%;
    width: 55px;
    height: 55px;
    position: relative;
}
#datos{
	color: whitesmoke;
    position: relative;
    bottom: 90%;
    width: 20%;
    left: 8%;
}
#nombre{
	font-size: 20px;
}
#amarillo{
	color:#E9D608;
}
